.unread-badge {
  background-color: rgb(217, 255, 0);
  color: rgb(10, 10, 10);
  border-radius: 999px;
  padding: 2px 6px;
  font-size: 0.75rem;
  margin-left: 8px;
  vertical-align: right;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  width: 80%;
  background-color: #2b2b2b;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  word-break: break-word;
  overflow: hidden;
}


.contact-item div {
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-item div:hover {
  white-space: normal;
}